.contacts__wrapper {
  display: flex;
  padding: 120px 0;

  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 32%;
}

.contacts__map iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
