.main__block {
  position: relative;
  background-color: $color-san-marino;
  color: $color-default-black;
  background-image: url("../img/background/main-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 25%;

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/background/main-background-desktop@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/background/main-background-tablet.jpg");

    @include retina {
      background-image: url("../img/background/main-background-tablet@2x.jpg");
    }
  }

   @include vp-767 {
    background-image: url("../img/background/main-background-mobile.jpg");

    @include retina {
      background-image: url("../img/background/main-background-mobile@2x.jpg");
    }
  }

}
